{# V20260630-1730 #}
{% include 'partials/head.html' %}
{% include 'partials/icons.html' %}
{% include 'partials/core.html' %}
{% include 'partials/dashboard.html' %}
{% include 'partials/users.html' %}
{% include 'partials/customers.html' %}
{% include 'partials/enterprise_verify.html' %}
{% include 'partials/customer_agents.html' %}
{% include 'partials/agents.html' %}
{% include 'partials/api_keys.html' %}
{% include 'partials/posts.html' %}
{% include 'partials/tickets.html' %}
{% include 'partials/channels.html' %}
{% include 'partials/cluster_services.html' %}
{% include 'partials/plans.html' %}
{% include 'partials/subscriptions.html' %}
{% include 'partials/sub_orders.html' %}
{% include 'partials/coupons.html' %}
{% include 'partials/ads.html' %}
{% include 'partials/shop_products.html' %}
{% include 'partials/shop_categories.html' %}
{% include 'partials/shop_orders.html' %}
{% include 'partials/coupons_plugin.html' %}
{% include 'partials/shop_purchases.html' %}
{% include 'partials/sub_stats.html' %}
{% include 'partials/sub_events.html' %}
{% include 'partials/orders.html' %}
{% include 'partials/oauth.html' %}
{% include 'partials/config.html' %}
{% include 'partials/nav_settings.html' %}
{% include 'partials/logs.html' %}
{% include 'partials/matrix.html' %}
{% include 'partials/ai_chat.html' %}
{% include 'partials/email.html' %}
{% include 'partials/downloads.html' %}
{% include 'partials/sms.html' %}
{% include 'partials/cms.html' %}
{% include 'partials/social.html' %}
{% include 'partials/contentfactory.html' %}
{% include 'partials/automation.html' %}
{% include 'partials/analytics.html' %}
{% include 'partials/health.html' %}
{% include 'partials/i18n_translations.html' %}
{% include 'partials/comments.html' %}
{% include 'partials/admins.html' %}
{% include 'partials/themes.html' %}
{% include 'partials/headernav.html' %}
{% include 'partials/brand.html' %}
{% include 'partials/tm_brand.html' %}
{% include 'partials/token_monitoring.html' %}
{% include 'partials/notifications.html' %}
{% include 'partials/reward_rules.html' %}
{% include 'partials/model_providers.html' %}
{% include 'partials/media_library.html' %}
{% include 'partials/cleaner.html' %}
{% include 'partials/deploy.html' %}
{% include 'partials/aliases.html' %}
{% include 'partials/tail.html' %}
